{% extends "ShowQ/base.html" %}
{% block body_block%}

<h2>Online Reservation</h2>

<p>Click on each day to make a reservation</p>

<p>
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Monday</button>
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Tuesday</button>
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Wednesday</button>
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Thursday</button>
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Friday</button>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="selected_time" id="18" value="18:00-18:15">
      <label class="form-check-label" for="18">
        18:00-18:15
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="selected_time" id="18.15" value="18:15-18:30">
      <label class="form-check-label" for="18.15">
        18:15-18:30
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="selected_time" id="18.30" value="18:30-18:45">
      <label class="form-check-label" for="18.30">
        18:30-18:45
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="selected_time" id="18.45" value="18:45-19">
      <label class="form-check-label" for="18.45">
        18:45-19
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="selected_time" id="19" value="19-19:15">
      <label class="form-check-label" for="19">
        19-19:15
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="selected_time" id="19.15" value="19:15-19:30">
      <label class="form-check-label" for="19.15">
        19:15-19:30
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="selected_time" id="19.30" value="19:30-19:45">
      <label class="form-check-label" for="19.30">
        19:30-19:45
      </label>
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-secondary">Submit</button>
    </div>
  </div>
</div>

{% endblock %}
