{% extends "ShowQ/base.html" %}
{% block pagetitle %} Schedule for Dr. {{doctor}} {% endblock %}

{% block body_block %}
    {% if available_times %}
        <form action="" method="post">
            {% csrf_token %}
            <div>
                {{ form.user.as_hidden }}
            </div>
            
            <div>
                {{ form.doctor.as_hidden }}
            </div>
            <div id="carouselExample" class="carousel carousel-dark slide">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row justify-content-md-center">
                            {% for date, times in available_times.items %}
                                <div class="col col-xl-2">
                                    <div class="card mb-3" style="width: 15rem;">
                                        <div class="card-header">
                                            {{ date }}
                                        </div>
                                        {% for time in times %}
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item">   
                                                    <input class="form-check-input me-1" type="radio" name="date_time" value="{{ time|date:'Y-m-d H:i:s' }}" id="{{time}}">
                                                    <label class="form-check-label stretched-link" for="{{time}}">{{time|time:"G:i:s" }}</label>
                                                </li>
                                            </ul>
                                        {% endfor %}
                                    </div>
                                </div>
                                {% if forloop.counter|divisibleby:4 and not forloop.last %}
                                    </div>
                                    </div>
                                    <div class="carousel-item">
                                    <div class="row justify-content-md-center">
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <input class="btn btn-primary btn-lg" type="submit" value="تایید">
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>    
        </form>
    {% endif %}
{% endblock %}
